{% extends 'base.html'%}

{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if user.bio %}
      <p> {{user.bio}}</p>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}
  </div>

  <!--Display profile photo-->
  <div class="col-md-4">

    {% if user.profile_pic_path %}
    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
    {%else%}
    <p>No profile picture</p>
    {% endif %}
  </div>
  {% if user == current_user %}
    <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
{% endif %}
<div class="col-md-4">
    {% if user.profile_pic_path %}

    

    {%else%}
    <p>No profile picture</p>

    {% endif %}

        {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <input type="submit">

    </form>
    
        
        
        <div>
            
           
          </div>
        
        <hr>
        <p><strong>{{current_user.username|upper}} PITCHES:</strong></p>
        {% for pit in pitches %}
          <div class="col-md-12">
            <div class="well">
              <div class="row">
                <div class="col-md-10 col-sm-12">
                    <h3>{{pit.content}}</h3>
                    <p>{{pit.posted}}</p>
                    <p>{{pit.comments}}</p>
                    <a href="/upvote/{{pit.id}}"type="button"style="background-color: black" class="btn btn-info">upvote {{pit.upvotes}}</a>
                    <a href="/downvote/{{pit.id}}"type="button" style="background-color: black"class="btn btn-info">downvote {{pit.downvotes}}</a>
                    <a href="{{url_for('main.new_comment',id=pit.id)}}"><button style="background-color: black" type="button" class="btn btn-info">Comment</button></a>
                    {% endfor %}
                   
      {% endif %}
      
  </div>
</div>
</div>
{% endblock %}