
{% extends "base.html" %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Vollkorn+SC&display=swap" rel="stylesheet">
    <br>
    <br>
    <div class="container">
            
    
    <div style ="font-family: 'Archivo Narrow', sans-serif;color:black" class=" col-md-10 col-md-offset-1 col-sm-12">
        

        <h1><strong>Welcome to the pitchwebsite</strong></h1><br>
        <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</p>
        <p>Click on the following links an have fun posting and impress the world: </p>
        {% for cat in category%}
        
        <!-- <h3 class="text">{{cat.name|upper}}</h3> --> 
        <div>
            
            <h3  class="text"><a style="color:black"href="{{url_for('main.new_pitch',id=cat.id)}}"><p>{{cat.name|upper}}</p></a></h3>
          </div>
        
        <hr>
        {% for pit in cat.pitch %}
          <div class="col-md-12">
            <div class="well">
              <div class="row">
                <div class="col-md-10 col-sm-12">
                    <p><strong>pitch content:</strong>{{pit.content}}</p>
                    <p><strong>posted at:</strong>{{pit.posted}}</p>
                    {% for com in pit.comments %}
                        <p><strong>{{current_user.username}} feedback:</strong>{{com.feedback}}</p>
                    {% endfor %}
                    <a href="/upvote/{{pit.id}}"type="button"style="background-color: black" class="btn btn-info">upvote {{pit.upvotes}}</a>
                    <a href="/downvote/{{pit.id}}"type="button" style="background-color: black"class="btn btn-info">downvote {{pit.downvotes}}</a>
                    <a href="{{url_for('main.new_comment',id=pit.id)}}"><button style="background-color: black" type="button" class="btn btn-info">Comment</button></a>
                    
                    
                    
              </div>
            </div>
           </div>
        
             
        
          </div>
          {% endfor %}
          <div class="well">
            <h4 style="padding:10%; text-align:center;display:none; font-size:50px">NO PITCHES IN THIS CATEGORY. </h4>
          </div>
        {% endfor %}
 
    </div>
   
</div>
    {% endblock%}