
        
<div class="navbar navbar-inverse" role="navigation">
        <div class="jumbotr">
                <img src="https://www.incimages.com/uploaded_files/image/970x450/getty_728759387_366738.jpg" height=393, width=1900>
             </div>
    
    <div class="container-fluid">
            
        <div  class="navbar-header"style="background-color: black">
            <button type="button"  class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand"style="background-color: black"> PITCH </p>
        </div>
        <div class="navbar-collapse collapse"style="background-color: black">
            <ul class="nav navbar-nav"style="background-color: black" >
                <li><a href="/">Home</a></li>
                </ul>
               
                  <ul class="nav navbar-nav navbar-right"style="background-color: black" >
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('main.profile',uname=current_user.username)}}">{{current_user.username}} Profile</a></li>
                    <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                    {% else %}
                    <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                    {%endif%}
                  </ul>
        </div>
       
    </div>
</div>


